# Exam1

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [6]:
def lesser_of_two_evens(a,b): #function that take two number and get back the minmum
    if a%2 == 0 and b%2 == 0: #chick coniftion if two number is even 

        return min(a,b) #return back the minmum
    else:
        return max(a,b) #if condion is not true(one number is odd or both) retuen back the makmum

In [4]:
lesser_of_two_evens(2,4) #chick that expected return 2

2

In [5]:
lesser_of_two_evens(2,5) #chick that expected return 5

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [71]:
def animal_crackers(string):
        word = string.split() #take every litter in the word sepratly and in string type
        if word[0][0] == word[1][0]: #codition that looking if the first litter in the first word = firset litter in the secuond word byusing there index
            return True #return true if codiotn is true
        else:
            return False # if codtion is not true return false
pass

In [72]:
# Check
animal_crackers('Levelheaded Llama')

True

In [73]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [74]:
def makes_twenty(n1,n2): #define function with name makes_twenty and take two number
    if (n1+n2) ==20  or n1 ==20 or n2 == 20: ##codition that chick if the summing of two number or if the first number of if the secund one =20
        return True ##return true if condtion achieve
    else:
        return False ##return false if condtion is not achieve
pass

In [75]:
# Check
makes_twenty(20,10)

True

In [76]:
# Check
makes_twenty(2,3)

False

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [138]:
def old_macdonald(name):
    n1=name[0].capitalize() #put index of litter
    # make 1 litter in a capital
    n2=name[3].capitalize() #put index of litter
    # make 4 litter in a small
    the_length=len(name) #define length of name
    print(n1+name[1:3]+n2+name[4:10]) #print n1 in capital form added to it the rest of the name from[1:3 index] then print the n2 in a capital litter  added to it the rest of the word from[4:10 index]

In [139]:
# Check
old_macdonald('macdonald')

MacDonald

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [36]:
def almost_there(n): #define a  function that name almost_there and take number(n)
    return ((abs(100 - n) <= 10) or (abs(200 - n) <= 10)) #chick if the number in range 100-n<=10 or 200-n<=10 return true and if else return false,make number as absolute value
    pass

In [77]:
#check
almost_there(90) #100-90 = 10 -->  given true so condtion is achive but 200-90 >10 --> given false and here we use (or) so , one condtion is Enough

True

In [37]:
# Check
almost_there(104) #100-104<10 --> given true , and 200-104<10 --> is given false and here we use (or) so , one condtion is Enough

True

In [38]:
# Check
almost_there(150) #100-150>10 --> given false and 200-150>10 --> given false , all contion not achive so it--> given false

False

In [39]:
# Check 
almost_there(209) #100-209<10 --> given false and 200-209<10 --> given true

True

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [42]:
def has_33(x): #define function with name has_33 andtake x as a list
    for i in range(len(x)-1):  #for loop that check over number by number in the list with length -1 (as a number of steps)
        if x[i:i+2] == [3,3]: # if the pointer mark to i number And the next step is the number until the secund step , that number which the pointer signify is=3 in these steps 
            return True
        else:
            return False

In [43]:
# Check
has_33([1, 3, 3])

False

In [44]:
# Check
has_33([1, 3, 1, 3])

False

In [45]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [101]:
def paper_doll(text): #define function that take any word and repeat it three times
    output="" 
    for letter in text : #for loop that look at every letter in text we enter
        output+= letter*3
    return output

In [102]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [87]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [111]:
def blackjack(a,b,c): #functiontake three numbers 
    for i in range(0,12): #loop at thefirst range from 1 to 11
        if a+b+c <= 21: # if the three numbers <=21 , then
            return a+b+c #return the sum of them
        elif a+b+c > 21 and 11 in (a,b,c): #another condtion if the sum of the three numbers higher than 21 and number(11) is one of these
            if a == 11: #if the first number =(11)
                a -= 10 #then make it as number(1)
                continue #and
                if b == 11 and a+b+c > 21: #if the second number is (11)
                    b -= 10 #return (b=1)
                    continue #and
                    if c == 11 and a+b+c > 21: #if the last number is (11)
                        c -=10 #then return (c=1)
                        break #end if condtions and out of the inner loop
                        return a+b+c #get the summing of three numbers

        else: 
            return "Bust" # if no condtion achive , then return 'bust'

In [112]:
# Check
blackjack(5,6,7)

18

In [107]:
# Check
blackjack(9,9,9)

'Bust'

In [108]:
# Check
blackjack(9,9,11)

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [136]:
def summer_69(arr):
    count = arr
    guitar = [] #make a list
    for i in range(len(arr)): #for loop in range of the input
        if 6 in arr: #if number 6 in the arr
            exception = count[count.index(6):count.index(9)+1]
            return abs(sum(count) - sum(exception)) #return the sum of them - an exception
        else:
            return sum(count)

In [137]:
# Check
summer_69([1, 3, 5])

9

In [66]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [67]:
# Check
summer_69([2, 1, 6, 9, 11])

14

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [119]:
def spy_game(nums): #define function that take a list of numbers and check if the sequence of number is 007 consecutive
    for x in range(0,len(nums)): #for loop to the every number at the list with length
        if nums[x] == 0: #if the first index with number =0
            for y in range(x+1,len(nums)): # adding 1 to the range
                if nums[y] == 0: #if the second number =0
                    for z in range(y+1,len(nums)): # adding 1 to the new range of list 
                        if nums[z] == 7:  # if the alst number =7
                            return True 
                else:
                    return False
    pass

In [120]:
# Check
spy_game([1,2,4,0,0,7,5]) ##007

True

In [60]:
# Check
spy_game([1,0,2,4,0,5,7])

False

In [61]:
# Check
spy_game([1,7,2,0,4,5,0]) #700

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [134]:
def count_primes(num): # make counting function
    counter = 0 
    for n in range(2,num+1):
        prime=True
        for i in range(2,n):
            if(n%i == 0):
                prime=False
                break
        if prime:
            counter += 1
    return counter
    return prime

In [135]:
# Check
count_primes(100)

25

## Great Job!